{% set pagetitle = "Select your identity provider"|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    {% if idplist|length == 0 %}
    <div class="message-box message-box-error">{{ "No identity providers found. Cannot continue." | trans }}</div>
    {% else %}

    <p>{{ "Please select the identity provider where you want to authenticate:" | trans }}</p>
    <form method="get" action="{{ urlpattern }}">
        <input type="hidden" name="entityID" value="{{ entityID }}">
        <input type="hidden" name="return" value="{{ return }}">
        <input type="hidden" name="returnIDParam" value="{{ returnIDParam }}">
        {% if rememberenabled %}
        <div class="pure-control-group">
            <label for="remember">
                <input type="checkbox" name="remember" id="remember" value="1"{% if rememberchecked %} checked{% endif %}>
                {{ 'Remember my choice' | trans }}
            </label>
        </div>
        {% endif %}

        {% for idpentry in idplist %}
        {% if idpentry.entityid == preferredidp %}
            <div class="idp preferredidp">
                <button type="submit" class="pure-button pure-button-primary" name="idp_{{ idpentry.entityid }}">{{'Select'|trans}}</button>&nbsp;&nbsp;
                <span class="idpname">{{ idpentry.name }}</span>
            </div>
        {% endif %}
        {% endfor %}

        {% for idpentry in idplist %}
        {% if idpentry.entityid != preferredidp %}
            <div class="idp">
                <button type="submit" class="pure-button" name="idp_{{ idpentry.entityid }}">{{'Select'|trans}}</button>&nbsp;&nbsp;
                <span class="idpname">{{ idpentry.name }}</span>
            </div>
        {% endif %}
        {% endfor %}
    </form>
    {% endif %}
{% endblock %}
